.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-dark {
    background-color: lightgrey; 
}


#leftlistitem1 {
  border-right: 2px solid #000;
}

#leftlistitem2 {
  border-right: 2px solid #000;
  padding-right: 10px;
}

#circleimage {
  border-radius: 50%;
}

#itemcontainerblue {
  background-color: lightblue;
  }



      #centercard {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        margin-top: 10px; /* Added */
}

#cardtitle {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#smallfont {
  font-size: 10px;
}

#lowheading {
  padding-bottom: 80px
}